/* Custom CSS */

/* The way I've designed the subfolder structure is pretty bad,
 * as it stands, custom.css in the rkett.github.io folder will only
 * try to apply to pages not contained in CIS3250/.
 * Realistically, I should re-factor to make custom.css only a single file.
 * As overlap will occur, and conflicts will also occur. */

/* Classes */
 .default-colour {
 	background: #FFFFFF;
 }

 .default-font {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
 }

 .default-links a:link {
 	color: #421a03;
 } 

 .default-links a:visited {
 	color: #8A004E;
 }

 .default-links a:hover {
 	color: #153D66;
 }

.default-div-padding {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.center-div {
     margin: 0 auto;
     width: 800px; 
}

.default-portrait {
	border-radius: 100%;
	border-width: 4px;
	border-style: solid;
}

.default-emoji-resize {
	font-size: 50px;
}

.default-div-padding {
	padding: 20px 20px 20px 20px;
}

/* IDs */
#list-div-color {
	background: #a8c6f4;
	border-radius: 15px;
}
