/*******************************************
* Custom CSS Designed for rkett.github.io.
* ----
* Modified: 03/19/2018
********************************************/

/*******************************************
* Custom Classes and Custom Selectors were
* designed to be used by all html pages, 
* which are excluded from "presentations".
* ----
* Modified: 03/19/2018
********************************************/

/* Custom Selectors */
a:link { 
    text-decoration: none;
}

a:active {
    color: pink;
}

a:visited {
    color: red;
}

/* Custom Classes */
.center {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.default-bar {
    width: 100%;
    height: 90px;
}

.default-sub-bar {
    width: 100%;
    height: 60px;
}

.default-grad {
    color: white;
    background: linear-gradient(#494c51,#303235);
}

.default-background-color {
    background-color: #E1E1E1;
}

.default-padding{
    padding: 10px;
}

.default-box-shadow {
    box-shadow: 0px 3px 10px grey;
}

.default-sub-bar-shadow {
    box-shadow: 0px 3px 5px grey;
}

.default-image-shadow {
    box-shadow: 3px 3px 10px grey;
}

.default-margin {
    margin-left: 120px;
    margin-right: 120px;
}

.margin-override {
    margin-left: -10px;
    margin-right: -10px;
}

.bottom-padding {
    padding-bottom: 50px;
}

.default-large-image {
    width: 800px;
    height: 400px;
}

.default-div-border {
    border-style: solid;
    border-color: black;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #252728;
    color: white;
    text-align: center;
}

.default-icon-padding {
    padding-right: 8px;
}

.default-image-size {
    width: 340px;
    height: 340px;
}

.default-image-round {
    border-radius: 10px;
}

.bottom-padding-extra {
    padding-bottom: 100px;
}

.header-margin-override {
    margin-top: 10px;
    margin-bottom: 10px;
}

.font-awesome-container {
    text-align: center;
}

.font-awesome-container .fa {
    text-shadow: 3px 3px 16px #272634
}

.default-card-image-size {
    width: 100%;
    height: 50%;
}

/*******************************************
* Custom Presentation Selectors and
* Custom Presentation Classes are
* designed to be used by all RemarkJS dept.
* pages and are exluded from all Custom Classes
* and Custom Selectors.
* ----
* Modified: 03/19/2018
********************************************/

/* Custom Presentation Classes*/
.portrait img {
    width: 250px; 
    height: 250px;
    float: right;
    border-radius: 100%;
    padding-left: 10px;
}

.right-float-image-1 img {
    width: 400px; 
    height: 400px;
    float: right;
    border-radius: 25px;
    padding-left: 100px;
    padding-top: 20px;
}

.left-float-image-1 img {
    width: 270px; 
    height: 270px;
    float: left;
    border-radius: 25px;
    padding-right: 50px;
    padding-top: 50px;
}

.left-float-image img {
    width: 300px; 
    height: 400px;
    float: left;
    border-radius: 25px;
}

.center-image-resize-1 img {
    width: 700px;
    height: 200px;
    float: center;
    padding-top: 50px;
}

.center-image-resize-2 img {
    width: 600px;
    height: 400px;
    float: center;
    padding-left: 80px;
}

.left-image-resize-3 img {
    width: 800px;
    height: 500px;
    float: left;
    padding-top: 10px;
}

.left-image-resize-3 img {
    width: 800px;
    height: 500px;
    float: left;
    padding-top: 10px;
}
