/* Custom CSS */

/*
* Element Selectors
*/

h1 {
	color: #e65100;
}

/*
* ID Selectors
 */


#diamond-narrow {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 70px solid red;
	position: relative;
	top: -50px;
}
#diamond-narrow:after {
	content: '';
	position: absolute;
	left: -50px; top: 70px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid red;
}

/*
* Class Selectors
 */
.top-image {
	border-radius: 5px;
}

.top-div {
	padding-top: 10%;
}

.background-image {
	background-image: url(../images/japan.png);
}

